<!DOCTYPE html>
<html>
	<head>
		<title>{{title}}</title>
		<meta charset="{{encoding}}">
		<style>
			{{{style}}}
		</style>
	</head>
	<body>
		<div class="progress"><div></div></div>
		{{{slideshow}}}
		<script type="text/javascript">
			{{{script}}}
		</script>
	</body>
</html>
